body{font-family: Georgia, "Times New Roman", Times, serif; padding:0; margin:0; font-size:20px; background:url(../images/bg01.jpg) repeat-x;}
.bottom{ border-top:11px solid #00e100; height:60px; text-align:center;clear:both;}
.tbody{ width:960px;margin:0 auto;clear:both;}
a{ text-decoration:none;}
a img{ border:none;}
div{ margin-bottom:20px;}
img{margin:3px 20px 3px 20px;}
.nav div{ float:left; text-align:center;}
.zuo{ width:367px; text-align:center;}
.you{ width:593px; text-align:center; line-height:200px; background:url(../images/bg02.jpg) 0 center no-repeat;}
.you a{ font-family: Georgia;margin:0 20px; font-size:26px; color:#000;}
.left{ width:225px; float:left;padding:0 20px;}
.left p{ text-align:center;}
.left img{ width:216px; height:135px;}
.right{ width:690px; float:right; line-height:30px; text-align:justify;margin:60px 0px 0px 5px;}
.right p{ text-align:center; clear:both;margin-top:100px;}
.right p a{ color:#f00;}
.live{ text-align:center;}
.live p{ text-align:left;line-height:25px; text-indent:2em;}
